.title{
    margin-top: 5%;   
}
.todo{
    display: flex;
}
.txt{
    margin-top: 10%;

    width: 100%;
    font-size: larger;
}
.txt-img{
    margin-top: 5%;

    
}

.caja1{
    display: flex;
}
.btn-success{
    background-color: #43893D;
    color:#43893D;
    
}
.chivo{
    font-size: xxx-large;
    text-align: center;
    margin-top: 20%;
}
.elbtn{
    text-align: center;
    margin-top: 15%;
}
.txt-logo{
    margin-left: 12%;
}

@media (max-width: 1500px) {
    div.caja1{
      display: flex;
    }
    div.caja1.txt{
        width: 50%;
    }
    div.caja1.txt-img{
        justify-content: center;
    }
}



@media (max-width: 992px) {
    div.caja1{
        display: block;
      width: 100%;
    }
    div.caja1.txt{
        width: 100%;
    }
    div.caja1.txt-img{
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    div.todo{
        display: block;
      width: 100%;
    }
    div.txt{
        width: 100%;
        font-size: small;
    } 
    div.totoArriba{
        font-size: small;
    }
     div.todo.txt-logo{
        text-align: center;
        width: 35%;
    }
    p.chivo{
        font-size: xx-large;
    }
}
