.title {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #43893D;
}

.nosotros {
    display: flex;
}

.nosotros_text {
    width: 50%;
}

.aceites {
    width: 50%;
}

.nosotrosDown {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.nosotrosDownRight{
    margin-top: 15%;
    width:50%;
}

.laImg {
    width: 50%;
}
.chivo{
    margin-top: 5%;
    font-size: xxx-large;
    color: #43893D;
}


@media (max-width: 1000px) {
    .nosotros {
        display: block;
    }

    .nosotros_text {
        width: 100%;

    }

    .txt {
        font-size: large;
    }

    .aceites {
        width: 100%;
    }


    .nosotrosDown {
        display: block;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .laImg {
        width: 100%;
    }

    .elbtn {
        margin-top: 15%;
        margin-bottom: 15%;
    }
}