.App {
  text-align: center;
  /* background-color: rgb(148, 160, 137); */
  /*
  color: white; */
  background-color: #e8e8e9
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.footi{
  position: absolute;
  width: 100%;
  
}

.miForm{
  justify-items: center;
  width:45%;
}
.total{
  display: flex;
}
.der{
  margin-top: 15%;
  /* margin: 0 auto; */
  justify-items: right;
  width: 50%;
}