.totCarru{
    margin-top: 5%;
    width: 90%;
    height: 25%;
    margin: 0 auto;
    
}
.fotos{
    width: 70%;
    height: 20%;
    margin: 0 auto;
}
.fotos:hover{
    transition: 2s;
    width: 85%;
}