.catalogo{
    display: flex;
}
.cat{
    margin-bottom: 22.5%;
}
.columna{
    display: flex;
    margin-bottom: 5%;
    
}
.laInfo{
    width: 60%;
    
}
.info2{
    width: 40%;
    
}
.precio{
    margin-left: 60%;
}
.btnLineas{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}
.addBtn{
    float: left;
}
@media ( max-width: 1000px){

    .addBtn{
        margin-bottom: 5%;
    }
    .btnLineas{
        margin-top: 15%;
        display: flex;
        margin: 5%;
        
    }
    .lista{
        justify-content:center;
    }
}
