.catalogo{
    display: flex;
}

.columna{
    display: flex;
    margin-bottom: 5%;
    
}
.laInfo{
    width: 60%;
    
}
.info2{
    width: 40%;
    
}
.precio{
    margin-left: 60%;
}
.btnLineas{
    margin-bottom: 5%;
}
.addBtn{
    float: left;
}
@media ( max-width: 1000px){

    
}
