.divInfo {
    width: 50%;
}

.divHorario {
    width: 25%;
}

.divMedioPago {
    width: 25%;

}

.h4Medios {
    text-align: center;
    color: #43893D
}

.seleccionPagos {
    width: 100%;
    display: flex;
    justify-items: center;
    text-align: center;
}

.mediopago {
    width: 70%;
    margin: 0 auto;

}

.info {
    margin-top: 5%;
}

.mip {
    text-align: center;
    font-size: x-large;
}

.elForm {
    /* margin-top: 10%; */
    width: 100%;
}

.contact {
    display: flex;

    justify-content: space-between;
}

.deAbajo {

    /* width: 100%; */
    display: flex;
    margin-top: 5%;
    justify-content: space-between;

}

.izquierda {
    width: 50%;
}

.derecha {
    width: 45%;

}

.verdeHorario {
    color: #43893D

}

.todoHora{
    display: flex;
    justify-content: space-around;
}
.miH3 {
    width: 100%;
}

/* MOVIL  */
@media (max-width: 992px) {
    div.info {
        width: 100%;
    }

    p.mip {
        font-size: medium;
    }
    .divInfo {
        width: 100%;
    }
    .divHorario {

        width: 100%;
        justify-content: space-between;

    }
    .miH3{
        text-align: center;
    }
    .semana {
        width: 50%;
    }

    .finde {
        width: 50%;
    }
    .todoHora{
        display: flex;
        text-align: center;
    }
    .contact {
        display: block;
    }

    .deAbajo {

        width: 100%;
        display: block;
    }

    .izquierda {
        width: 100%;

    }

    .derecha {
        width: 100%;
        text-align: center;
        border-radius: 15%;
    }

    .divMedioPago {
        width: 100%;
    }

}

