.divInfo{
    width: 50%;
}
.divHorario{
    width: 25%;
}
.divMedioPago{
    width: 25%;
   
}
.h4Medios{
    text-align: center;
}
.seleccionPagos{
    width: 100%;
    display: flex;
    justify-items: center;
    text-align: center;
}
.mediopago{
    width: 20%;
    
}
.info{
    margin-top: 5%;
}
.mip{
    text-align: center;
    font-size: x-large;
}
.elForm{
    /* margin-top: 10%; */
    width: 100%;
}
.contact{
    display: flex;

    justify-content: space-between;
}

.deAbajo{
    
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    
}
.izquierda{
    width: 50%;
}
.derecha{
    width: 45%;
    
}
@media (max-width: 1500px) {
    div.contact{
      display: block;
    }
    div.caja1.txt{
        width: 50%;
    }
    div.caja1.txt-img{
        justify-content: center;
    }
}

 /* MOVIL  */


@media (min-width:320px){
    div.info{
        width: 100%;
    }
    p.mip{
        font-size:medium;
    }


    div.contact{
        display: block;
    }


@media ( max-width: 479px){
    div.info{
        width: 100%;
    }
    p.mip{
        font-size:medium;
    }


    div.contact{
        display: block;
    }

}







   div.deAbajo{

    width: 100%;
    display: block;
   }
   div.deAbajo.izquierda{
       width: 100%;
       
   }
   div.deAbajo.derecha{
       width: 100%;
       text-align: center;
       border-radius: 15%;
   }
}