.divInfo {
    width: 50%;
}

.divHorario {
    width: 25%;
}

.divMedioPago {
    width: 25%;

}

.h4Medios {
    text-align: center;
    color:#43893D
}

.seleccionPagos {
    width: 100%;
    display: flex;
    justify-items: center;
    text-align: center;
}

.mediopago {
    width: 50%;
    margin: 0 auto;

}

.info {
    margin-top: 5%;
}

.mip {
    text-align: center;
    font-size: x-large;
}

.elForm {
    /* margin-top: 10%; */
    width: 100%;
}

.contact {
    display: flex;

    justify-content: space-between;
}

.deAbajo {

    /* width: 100%; */
    display: flex;
    margin-top: 5%;
    justify-content: space-between;

}

.izquierda {
    width: 50%;
}

.derecha {
    width: 45%;

}


/* MOVIL  */
@media (max-width: 500px) {
    div.info {
        width: 100%;
    }

    p.mip {
        font-size: medium;
    }


    div.contact {
        display: block;
    }
    .deAbajo {

        width: 100%;
        display: block;
    }

    .izquierda {
        width: 100%;

    }

   .derecha {
        width: 100%;
        text-align: center;
        border-radius: 15%;
    }
    .divMedioPago{
        width: 100%;
    }

}


/* TABLET   */

/* 
@media (max-width: 1300px) {
    div.contact {
        display: flex;
    }

    div.caja1.txt {
        width: 100%;
    }

    div.caja1.txt-img {
        justify-content: center;
    }
}


/*

@media (min-width:320px) {
    div.info {
        width: 100%;
    }

    p.mip {
        font-size: medium;
    }


    div.contact {
        display: block;
    }

    div.deAbajo {

        width: 100%;
        display: block;
    }

    div.deAbajo.izquierda {
        width: 100%;

    }

    div.deAbajo.derecha {
        width: 100%;
        text-align: center;
        border-radius: 15%;
    }
}
*/ 


