.logito{
    text-align: center;
    margin-top: 4%;
}
.elCarru{
    width: 70%;
    margin:0 auto;
}
.parrafito{
    margin-top: 5%;
}
.todi{
    width: 100%;
    margin-bottom: 5%;
}
.nosviCatalogo{
    
    float: right;
    margin-right: 25.6%;
}


@media ( max-width: 500px){
    div.elCarru{
        width: 100%;
        margin-top: 5%;
    }
    p.mip{
        font-size:medium;
    }

    div.nosviCatalogo{
        margin: 0 auto;
        
        margin-bottom: 5%;
    }
    div.todi{
        
       text-align: center;
    }

}