.Home{
    background-color: #e8e8e9;
}
button{
    background-color: #43893D;
}

.elCarru{
    width: 70%;
    margin:0 auto;

}
.elCarru:hover{
    transition: 1500ms;
    width: 80%;
}

.parrafito{
    margin-top: 5%;
}
.todi{
    width: 100%;
    margin-bottom: 5%;
}
.nosviCatalogo{
    
    float: right;
    margin-right: 25.6%;
}


@media ( max-width: 1000px){
    .carruup{
        margin: 0 auto;
     
    }
    div.elCarru{
        width: 100%;
        margin-top: 5%;
    }
    p.mip{
        font-size:medium;
    }

    div.nosviCatalogo{
        margin: 0 auto;
        
        
    }
    div.todi{
        
       text-align: center;
    }
    .middlePage{
        display: block;
    }
    .algoNuestro{
        width: 100%;
    }
    .logito{
        width: 100%;
    }
    .algoDescarte{
        width: 100%;
    }

}