.logito{
    text-align: center;
}
.elCarru{
    width: 70%;
    margin:0 auto;
}
.parrafito{
    margin-top: 5%;
}
.todi{
    width: 100%;
    margin-bottom: 5%;
}
.nosviCatalogo{
    
    float: right;
    margin-right: 25.6%;
}