p{
    font-size: x-large;
}
.totInfo{
    width: 100%;
}
.infoContacto{
    width: 100%;
    color:#43893D
}
.basicInfo{
    font-size: small;
    width: 100%;
}


@media (max-width: 700px) {
    .infoContacto{
        width: 100%;
        color: #43893D;
        text-align: center;
        font-size: xx-large;
        
    }
    .totInfo{
        width: 100%;
        margin-bottom: 5%;
        
    }
    
    .basicInfo{
        font-size: small;
        width: 100%;
        
    }
    .infoLine{
        display: flex;
        margin: 0 auto;
    }
    .dato{
        margin-left: 8%;
    }
   
        
        
        
    
    .infoLineTitle{
        display: flex;
        margin: 0 auto;
    }
    .misRedes{
        text-align: center;
    }
    .misRedes{
        font-size: xx-large;
        color: #43893D
    }
    .iconosRedes{
        width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    }
    .red{
        width: 100%;
        justify-content: space-between;
    }
    /* .icon{

    } */
}