.middlePage{
    display: flex;
    margin-top:25%;
    justify-content: space-between;
}
.algoNuestro{
    width: 33%;
    /* background-color: #aaa; */
}
.miParrafito{
    font-size: medium;   
}
.logito{
    text-align: center;
    margin-top: 4%;
    width: 33%;
    /* background-color: #aaa; */
    vertical-align: top;
}
.algoDescarte{
    width: 33%;
    /* background-color: #aaa; */
}


@media ( max-width: 1000px){
    .middlePage{
        display: block;
    }
    .algoNuestro{
        width: 100%;
    }
    .logito{
        width: 100%;
    }
    .algoDescarte{
        width: 100%;
    }
}
