.miP{
    margin-top: 5%;
    text-align: center;
    font-size: xxx-large;
    color:#43893D
}
.mipp{
    text-align: center;
    color:#43893D
}
.laImg{
    text-align: center;
}
.miBtn:hover{
    width: 100%;
}



  