.totCarru {

    width: 100%;
    height: 25%;
    margin: 0 auto;

}
.carruDeArriba{
    width:'100%';
    height:'250px'

}

.fotos {
    width: 70%;
    height: 20%;
    margin: 0 auto;
}

.fotos:hover {
    transition: 2s;
    width: 85%;
}
